.custom-alert {
    position: absolute;
    display: flex;
    inset: 0;
    place-self: center;
    padding: 1.2rem;
    color: #fff;
    background: #000;
    border-radius: 10px;
    z-index: 100;
}
