:root {
    --primary: #003786;
    --secondary: #f7f9fc;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}

.router-link-active {
    color: var(--primary);
    text-decoration: underline;
}

.router-link-exact-active {
    color: var(--primary);
}

main {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: normal;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}

header a:hover,
.change-col-at-hovering:hover {
    color: var(--primary);
}

.cursor-pointer-at-hovering {
    cursor: pointer;
}

footer a {
    text-decoration: underline;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 3.25rem;
    }
    h3 {
        font-size: 2.75rem;
    }
    h4 {
        font-size: 2.25rem;
    }
}
