:root {
    --primary: #003786;
    --secondary: #4b6c4c;
    --tertiary: #4a5565;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}

main {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: normal;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.125rem;
}
h4 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

footer a {
    text-decoration: underline;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}
